body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    margin-bottom: 1px;
}

.container {

    max-width: 600px;
    margin: 0 auto;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

#generatedResume {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}

#generatedResume h3 {
    margin-top: 0;
}

.resume-section {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.resume-section:last-child {
    border-bottom: none;
}

.resume-section h4 {
    margin: 0;
    color: #555;
}

.skills-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills-list li::before {
    content: "•";
    margin-right: 0.5rem;
    color: #555;
}